# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

*.out

# IDE settings
.vscode/

# Environments
.env*
.env.local
.env.dev
.env.staging
.env.prod

# macOS
.DS_Store

postgres-data*
/tmp

reports*
bin/app-coverage
bin/app-instrumented
bin/bun-instrumented
reports/combined-coverage-filtered.txt
reports/combined-test-output.log
reports/integration-output.log
reports/integration-test-output.log
reports/test-output.log
reports/unit-output.log
reports/unit-test-output.log
