# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

*.out

# IDE settings
.vscode/

# Environments
.env*
.env.local
.env.dev
.env.staging
.env.prod

# macOS
.DS_Store

postgres-data*
/tmp
